html
    include mixins/navbar.pug
    include mixins/saldos.pug
    include mixins/misCuentas.pug
    include mixins/movimientos.pug
    include mixins/footer.pug
    head 
        title="Bankapp"
        link(rel="stylesheet" type="text/css" href="styles/style.css")
        link(rel="stylesheet" type="text/css" href="styles/tailwind.css")

body
    +navbar(cuenta)
    +saldos(saldos)
    .grid.grid-cols-1.p-6.px-8(class="lg:grid-cols-3")
        +misCuentas(tarjetas)
        div.col-span-2(class="mt-3 lg:mt-0")
            +movimientos(movimientos)
    +footer()
