mixin footer()
    .flex.justify-between.shadow.bg-light-gray.px-8.fixed.inset-x-0.bottom-0
        div.grid.grid-cols-1
            span.text-md-gray.font-bold Bankapp
            span.text-md-gray.font-bold Powered by Conecta México
            p.text-md-gray.font-semibold Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        div.flex.items-center
            div.circle.border-gray.mr-2
            span.text-xl.text-md-gray.font-bold Bankapp
