include nuevaTarjeta.pug
mixin misCuentas(tarjetas)
    div
        span.text-gray-400.uppercase Mis cuentas
        div.grid.grid-cols-2(class="lg:grid-cols-1")
            if tarjetas
                each tarjeta in tarjetas
                    .p-4.bg-pacific-green.w-80.mt-3
                        .flex.justify-between
                            span.text-white.text-sm=`${tarjeta.estado}`
                            span.text-white.text-sm=`$${tarjeta.saldo}`
                        .flex.my-3
                            span.text-white.text-sm=`${tarjeta.tarjeta}`
                        .flex.my-3
                            span.text-white.text-sm=`${tarjeta.nombre}`
                        .flex.mt-3
                            span.text-white.text-sm=`${tarjeta.tipo}`
                        img(src="/imgs/Mastercard-logo.png" class="w-6 float-right")
        +nuevaTarjeta()

