mixin movimientos(movimientos)
    div
        span.text-gray-400.uppercase Movimientos
        table.items-center.bg-transparent.w-full.border-collapse.mt-3 
            thead
                tr
                    th.px-6.text-gray-400.align-middle.border.border-solid.py-3.text-sm.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left Fecha
                    th.px-6.text-gray-400.align-middle.border.border-solid.py-3.text-sm.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left Descripción
                    th.px-6.text-gray-400.align-middle.border.border-solid.py-3.text-sm.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left Monto
            tbody
                if movimientos
                    each movimiento in movimientos
                        tr 
                            td.text-gray-500.border.border-solid.border-l-0.border-r-0.whitespace-nowrap.p-4.px-6.text-left.align-middle.text-sm.font-semibold=`${movimiento.fecha}`
                            td.text-gray-500.border.border-solid.border-l-0.border-r-0.whitespace-nowrap.p-4.px-6.text-left.align-middle.text-sm.font-semibold=`${movimiento.descripcion}`
                            if movimiento.tipo === 'abono'
                                td.text-red-500.border.border-solid.border-l-0.border-r-0.whitespace-nowrap.p-4.px-6.text-left.align-middle.text-sm.font-bold=`$${movimiento.monto}`
                            else if movimiento.tipo === 'cargo'
                                td.text-pacific-green.border.border-solid.border-l-0.border-r-0.whitespace-nowrap.p-4.px-6.text-left.align-middle.text-sm.font-bold=`$${movimiento.monto}`
