mixin navbar(cuenta)
    .shadow
        .flex.items-center.justify-between.p-6
            div.flex.items-center
                div.circle.border-green.mr-2
                span.text-xl.font-semibold.no-underline.text-pacific-green BankApp
                small.ml-2.mt-1.text-gray-400 Powered by Conecta
            div
                span.font-semibold.no-underline.text-pacific-green.uppercase.mr-4 Mi cuenta
                span.font-semibold.no-underline.text-gray-400.uppercase Enviar dinero
            div
                if cuenta
                    div=cuenta.nombre
                    div.text-gray-400=`Último inicio ${cuenta.ultimaSesion}`