mixin nuevaTarjeta()
    div.flex.justify-between.mt-3.w-80.text-pacific-green.font-semibold.text-xl.border-dashed.border-2.border-pacific-green.p-4(role="button" id="btnAgregar")
        span Agregar tarjeta 
        span +

    #nuevaTarjetaModal.modal
        .modal-content
            .px-6
                .flex.justify-between
                    span.text-pacific-green.font-semibold Bankapp
                    span.text-gray-400.font-semibold.text-lg Agregar tarjeta
                form(id="agregar-form")
                    .grid.grid-cols-1.py-4
                        input(type='text' name="numero_tarjeta" placeholder="Número de tarjeta" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')
                    .grid.grid-cols-2.gap-2.py-4
                        div
                            input(type='text' name="cuenta" placeholder="Cuenta" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')
                        div
                            input(type='text' name="issuer" placeholder="Issuer" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')
                    .grid.grid-cols-1.py-4
                        input(type='text' name="nombre_tarjeta" placeholder="Nombre de la tarjeta" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')
                    .grid.grid-cols-1.py-4
                        input(type='text' name="marca" placeholder="Marca" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')
                    .grid.grid-cols-1.py-4
                        input(type='text' name="status" placeholder="Status" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')
                    .grid.grid-cols-1.py-4
                        input(type='text' name="saldo" placeholder="Saldo" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')
                    .grid.grid-cols-1.py-4
                        input(type='text' name="tipo_cuenta" placeholder="Tipo de cuenta" class='shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:placeholder-pacific-green focus:border-pacific-green focus:outline-none focus:shadow-outline focus:ring-0')

                    .flex.flex-col.items-center.my-4
                        .flex
                            button.bg-gray-300.text-white.font-semibold.py-4.px-8.border.border-gray-300.rounded.mr-3.close(type="button") Cancelar
                            button.bg-pacific-green.text-white.font-semibold.py-4.px-8.border.border-pacific-green.rounded(class='hover:bg-pacific-green' type="submit" id="btnSubmit") Agregar tarjeta 


    script.
        const modal = document.getElementById("nuevaTarjetaModal");
        const btn = document.getElementById("btnAgregar");
        const span = document.getElementsByClassName("close")[0];
        const btnSubmit = document.getElementById("btnSubmit");
        const form = document.getElementById("agregar-form")

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        form.addEventListener("submit", function (e) {
            e.preventDefault() // This prevents the window from reloading
            let object = {};
            let formData = new FormData(this);
            formData.forEach((value, key) => object[key] = value);
            const json = JSON.stringify(object);
            alert(json);
        });