mixin saldos(balances)
    .bg-strong-blue.shadow
        .flex.items-center.p-8.gap-6
            if(balances)
                .flex.justify-between.bg-white.border.p-6
                    .flex.justify.between.w-60.items-center
                        div.mr-4.text-pacific-green.font-bold.text-sm Saldo General en cuentas:
                        div.text-2xl.text-pacific-green.font-bold=`$${saldos.saldoGeneral}`
                .flex.justify-between.bg-white.border.p-6
                    .flex.justify.between.w-40.items-center
                        div.mr-4.text-pacific-green.font-bold.text-sm Total de ingresos:
                        div.text-2xl.text-gray-400.font-semibold=`$${saldos.ingresos}`
                .flex.justify-between.bg-white.border.p-6
                    .flex.justify.between.w-40.items-center
                        div.mr-4.text-pacific-green.font-bold.text-sm Total de gastos:
                        div.text-2xl.text-gray-400.font-semibold=`$${saldos.gastos}`